.selfintro {background-color: #F0EBE3;padding-top: 100px;font-family:fantasy;}

.container {
  text-align: center;
}

.top-cloud {
  position: absolute;
  right:130px;
  top:65px;


}

.bottom-cloud {
  position: absolute;
}

.selfintro-text {

}
